<div class="jumbotron jumbotron-fluid">
    <div class="container tron-text">
        <h1 class="display-4 jumbo-text">Vince Carollo</h1>
        <p class="lead jumbo-text">Humbly Driven to Always be Better</p>
    </div>
</div>
<h2 class='text-center project-header'>My Projects</h2>
<div class='card-group'>
    <div class="card rounded" style="width: 18rem;">
        <%= image_tag("enigma.png", class: 'card-img-top') %>
        <div class="card-body">
            <h4 class="card-title text-center">Enigma</h4>
            <p class="card-text">Enigma can encrypt and decrypt text files with a given key. It can also take an encryption, crack it, and give back the key that was used.</p>
            <p class="card-text"><h5 class='text-center'>Ruby</h5></p>
        </div>
    </div>
    <div class="card rounded" style="width: 18rem;">
        <%= image_tag("laugh_tracks.png", class: 'card-img-top') %>
        <div class="card-body">
            <h4 class="card-title text-center">Laugh Tracks</h4>
            <p class="card-text">Laugh Tracks is a Rails App that keeps track of comedians and all of their specials. Comedians can be sorted and searched, and all sorting is dynamic with the pages statistics. This project was my jump into ActiveRecord.</p>
            <p class="card-text"><h5 class='text-center'>Ruby On Rails</h5></p>
        </div>
    </div>
    <div class="card rounded" style="width: 18rem;">
        <%= image_tag("items_page.png", class: 'card-img-top') %>        
        <div class="card-body">
            <h4 class="card-title text-center">Cheese Shop</h4>
            <p class="card-text">An online marketplace where items can be created by merchants.</p>
            <p class="card-text"><h5 class='text-center'>Ruby On Rails</h5></p>
        </div>
    </div>
</div>