<section class='text-center blog'>
  <h1>My Story</h1>
  <p class="container">In my previous career, I often found myself feeling stuck and bored. I would get promoted often, but the feeling would quickly return after getting a feel for the position, and learning the best way to do things. I was always looking for a more challenging career path, something that would keep me on my toes.</p>
  <p class="container">I first got involved in the software industry while in my previous position as a GM. I would often need to coordinate with a startup that had created a niche POS specifically for the company I worked for. I had the chance to talk directly with a developer to discuss possible new features. I remember thinking, WOW!, how cool is it that this guy gets to create these things while I was managing a retail shop.</p>
  <p class="container">As I dove into programming, I started with Codacademy and The Odin Project, and ended up at Turing School of Software and Design. To say the 7 month bootcamp I signed up for is challenging, is an understatement. I am challenged every single day to become better. As I am on this path I am realizing that this is exactly what I wanted. I wanted a career that will ALWAYS challenge me, something where I will never know how to do everything.</p>
  <p class="container">I am excited to begin my journey in this industry and can't wait for the opportunity to prove how hard I will work to get where I want to be.</p>
</section>
